.chat__body {
  max-width: 1200px;
  margin: 10px auto;
  background-color: #128c7e;
  border-radius: 5px;
}

.chat__header {
  height: 50px;
  width: 100%;
  background-color: #075e54;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.chat__header p {
  color: #fff;
  font-weight: 600;
}

.chat__content {
  display: flex;
  flex-direction: column;
}

.chat__message {
  max-height: 500px;
  overflow-y: scroll;
  padding: 5px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat__message::-webkit-scrollbar {
  display: none;
}

.chat__content form {
  padding: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #075e54;
}

.chat__enter_message {
  background-color: #808080;
  color: #fff;
  width: 80%;
  height: 100%;
  border-radius: 15px;
  padding: 10px;
  resize: none;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 600;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat__enter_message::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.chat__send_message {
  width: 15%;
  height: 100%;
  border-radius: 15px;
  border: none;
  background-color: #25d366;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
}
